# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment
.env
.env.example

# FAISS index
vectorstore/*.faiss
vectorstore/*.pkl

# Docker
.dockerignore

# Logs
*.log

#DEV
TODO.md
test.md
.pytest_cache/
